@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {  
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: #feafc3;
    color: #2D3440;
}

.body-blue {    
    background-color: #69a9ff;
}

.body-yellow {
    background-color: #fcc850;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    margin-top: 24px;
}

.header-container {
    display: flex;
    margin: 0 auto;
    width: 1170px; 
    align-items: flex-start;
}
.navigation-logo {
   display: flex;
   align-items: center;
   width: 137px;
   margin-right: 32px;
}  

.navigation {
    margin-top: 18px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 520px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.navigation-item:not(:last-child) {
    margin-right: 32px;
}

.navigation-link {
    line-height: 20px;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    display: block;
}

.navigation-user-list {
    margin: 0;
    padding: 0;
    max-width: 520px;
    min-width: 419px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 12px;
    align-items: center;
}
.navigation-user-item:not(:first-child) {
    margin-left: 16px;
}


.navigation-user-link  {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    display: block;
    min-width: 32px;
    padding: 6px 17px;
    
}
.navigation-user-link-search {
    padding: 7px 0;
    justify-content: center;

}
.navigation-user-link-search .navigation-icon  {
margin: 0;
}
.navigation-user-item:not(:first-child) .navigation-user-link
  {
   background: rgba(252, 252, 252, 0.3);
   border-radius: 26px;
   display: flex;  
   align-items: center;
}

.navigation-user-link-search svg {
    vertical-align: middle;
}
.navigation-user-phone {
    line-height: 20px;
    font-weight: 700; 
    text-align: center;
    color: #2D3440;
    text-decoration: none; 
    display: block;
}

.navigation-link, .navigation-user-phone {
     min-height: 18px;
    min-width: 18px;
}

.navigation-icon {
     margin-right: 6px;
}

.navigation-icon svg {
    display: block;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    margin: 0 auto;
    width: 1170px; 
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.promo-slider-title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    width: 470px;
}

.promo-slider-description {
    font-size: 18px;
    line-height: 24px;
    width: 414px;
}

.promo-slider-order-link, .free-gifts-link {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.free-gifts-title, .product-title, .advantages-title, .delivery-title, .catalog-name {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;  
    margin-top: 0;
    margin-bottom: 0;
}

.free-gifts-box {
    display: flex;
    justify-content: space-between;
}

.free-gifts-title {
    width: 443px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
}

.free-gifts-article {
    background-color: #ff7799;
    border-radius: 16px;
    width: 570px;
    padding: 40px 15px 40px 40px;
    }

.free-gifts-article-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    width: 321px;
    margin: 0;
}

.free-gifts-description {
    width: 321px;
    margin: 0;
}

.free-gifts-link {
    padding: 0;
    padding: 12px 32px;
}

.product-title {
    width: 527px;
    margin-bottom: 107px;
    margin-left: auto;
    margin-right: auto;
}

.product-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
}

.card-title, .card-price {
    font-size: 20px; 
    font-weight: 700;
    line-height: 24px; 
    margin: 0px;
}

.card-price-box {
    display: flex;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 8px;
}

.product-card, .advantages-list, .new-article-title, .subscription-description, .delivery-description, .delivery-form-description, .contacts-address-title, .contacts-phone-title {
    color: #565C66;
}

.delivery-description {
    margin: 0px;
}

.card-title {
    text-align: center;
}

.card-description {
    margin-top: 0;
    margin-bottom: 16px;
}

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -67px;
}

.product-card-link {
    text-decoration: none;
    color: #2D3440;
}

.product-card {
    background-color: #fcfcfc;
    padding: 0 40px 24px 40px;
    width: 270px;
    border-radius: 8px;
}

.advantages {    
    background-image: url("../images/background/waffle.jpg");
    background-color: #e1d4b3;
    width: 1170px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px; 
    padding: 24px;
}

.advantages-box {
    background-color:  #fcfcfc;
    width: 1122px;
    padding: 56px 40px;
    border-radius: 16px;
}

.advantages-title {
    width: 995px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-description {
    width: 442px;
    height: 66px;
    margin: 0;
}

.new-article-subscription-box {
    display: flex;
    justify-content: space-between;
}

.new-article-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12px;
}

.new-article-link {
    display: inline-block;
    font-size: 24px; 
    font-weight: 700;
    line-height: 30px; 
    color: #2D3440;
    text-decoration: none;
    width: 303px;
}

.new-article {
    background-image: url("../images/background/ice-raspberry.jpg");
    background-color: #ffffff;
    color: #2D3440;
    width: 570px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px;
    min-height: 216px;
}

.subscription {
    background-image: url("../images/background/post.jpg");
    background-color: #ff2f68;
    width: 570px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
}

.subscription-box {
    background-color: #fcfcfc;
    border-radius: 16px;
    padding: 26px;
}

.subscription-description {
    margin: 0;
    margin-bottom: 42px;
}

.subscription-form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-email-box {
    margin: 0;
}

.subscription-email {
    width: 332px;
    height: 48px;
    display: inline-block;
}

.subscription-button, .modal-dialog {
    font-size: 16px; 
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #ff2f64;
    width: 152px;
    border-radius: 26px;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border: 4px solid rgba(255, 47, 100, 0.3);
    background-clip: padding-box;
    padding: 12px;
    }

.delivery {
    background-image: url("../images/background/ice-fruits-leaf.jpg");
    background-color: #ffffff;
    color: #2D3440;
    width: 1170px;
    border-radius: 16px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 42px 42px 42px 100px; 
  }

.delivery-description-box {
    width: 371px;
    margin-top: 103px;
}

.delivery-title {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.delivery-form{
    background-color: #fcfcfc;
    border-radius: 8px;
    width: 500px;
    margin-left: auto;
    padding: 40px;
}

.delivery-form-description {
    width: 380px;
    margin: 0;
    margin-bottom: 32px;    
}
.delivery-form p:not(:first-child) {
  margin: 32px 0;
}

.form-label label, .delivery-form-phone label {
    line-height: 20px;
    font-weight: 700;
}

.delivery-form input, .subscription-form input {
    line-height: 20px;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
    border-radius: 4px;  
    padding: 14px 16px; 
}

.subscription-form input {
    min-width: 332px;
}

.delivery-date {
    width: 117px;
}

.delivery-phone {
    width: 287px;
}

.delivery-address {
    width: 420px;
}

.contacts {
    background-image: url("../images/background/three-ice.jpg");
    background-color: #ede3e4;
    width: 1170px;
    padding: 64px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-box {
    width: 343px;
    background-color: #fcfcfc;
    border-radius: 8px;
    padding: 40px;
}

.contacts-address-title {
    width: 179px;
    margin: 0;
    margin-bottom: 12px;
}

.contacts-address {
    font-style: normal;
    margin-bottom: 24px;
}

.contacts-address-text, .contacts-phone-text {
    font-size: 20px; 
    font-weight: 700;
    line-height: 24px;
}


.contacts-address-text {
    margin: 0;
    font-weight: bold;
}

.contacts-phone-title {
    margin: 0;
font-weight: 400;
font-size: inherit;
margin-bottom: 12px;
}

.contacts-schedule {
    font-size: 14px; 
    font-weight: 400;
    line-height: 20px; 
    color: #565C66;
    margin: 0;
    margin-bottom: 32px;
}

.modal-dialog {
    width: 250px;
    padding: 13px;
}

.page-footer {
    margin-top: 48px;
}

.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.social-icon-box {
    align-self: flex-end;
}

.social-icon {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 105px;
}

.footer-social  .social-icon {
    margin-right: 300px;    
}

.social-icon-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.social-icon-item:nth-child(3n) {
    margin-right: 0;
}

.documents-list {
    margin: 0;
    padding: 0;
    width: 356px;
    height: 48px;
    list-style-type: none;
    margin-right: 200px;
}

.documents-link {
    font-size: 14px; 
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;
    text-decoration: none;
}

.documents-link .document-bold {
    font-weight: 700;
}

.made-in {
    width: 193px;
    display: flex;
    flex-direction: column;
}

.made-in-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.htmlacademy-link {
    color: #2d3440;
}

.main-inner {
    margin-top: 32px;
}

.main-inner-container {
    margin: 0 auto;
    width: 1170px; 
    display: flex;
    flex-direction: column;
}

.breadcrumbs, .button, .pagination-show-more {
    font-size: 14px; 
    font-weight: 700;
    line-height: 20px; 
    color: #2d3440;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 16px;
}

.breadcrumbs-link {
    padding: 0;
    padding-right: 28px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.catalog-filter-title {
    margin-bottom: 8px; 
}

.catalog-name {
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
}

.catalog-filter-group {
    font-size: 14px; 
    font-weight: 400;
    line-height: 20px; 
    width: 196px;
    padding: 0;
    margin: 0;
}

.catalog-filter-group:not(:first-child,:nth-child(4)) {
    margin-left: 24px;
}

.catalog-filter-group:last-child {
    margin-right: 24px;
}

.catalog-filter-item {
    list-style-type: none;
}

.catalog-filter-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.catalog {
    margin-bottom: 40px;
}

.filter-fat {
    width: 367px;
}

.filter-add .catalog-filter-title {
    margin-top: 16px;
}

 .filter-fat .catalog-filter-item:not(:last-child) {
    margin-right: 40px;
}

 .filter-fat .catalog-filter-item:first-child {
    margin-left: 40px;
}

.filter-add {
    width: 596px;
    margin-right: 24px;
}

.filter-add .catalog-filter-item:not(:last-child) {
    margin-right: 40px;
}

.filter-add .catalog-filter-item:first-child,
.catalog-filter-item:nth-child(6n) {
    margin-left: 40px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    margin-left: 303px;
}

.pagination-container {
    display: flex;
    margin-top: 16px;
    padding-top: 42px;
    padding-bottom: 42px;
    align-items: center;
    flex-direction: row-reverse;
}

.pagination-prev svg {
    display: block;
}

.pagination-next svg {
    display: block;
} 

.pagination-item:not(:first-child,:last-child, :nth-child(6)) {
    margin-right: 8px;
}

.pagination-item:first-child {
    margin-right: 16px;
}

.pagination-item:last-child {
    margin-left: 24px;
}

.pagination-link {
    color: #2d3440;
    text-decoration: none;
}

.pagination-current {
color: #2d3440;
background-color: #fcfcfc;
border-radius: 50px;
padding: 2px 8px;
}

.pagination-show-more {
font-size: 16px;
padding: 12px 32px;
background: #fcfcfc;
border: 4px solid rgba(252, 252, 252, 0.4);
box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
border-radius: 26px;
background-clip: padding-box;
}

