@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 1366px;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #feafc3;
  color: #2d3440;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.body-blue {
  background-color: #69a9ff;
}

.body-yellow {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 24px 0 41px 0;
}

.header-container {
  display: flex;
  margin: 0 auto;
  width: 1170px;
  align-items: center;
}

.navigation-logo {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 6px 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  border-radius: 26px;
  border: 2px solid transparent;
}

.top-menu-wrapper {
  position: absolute;
  top: 100%;
  z-index: 15;
  display: none;
  padding: 8px 0 0;
  min-width: 138px;
}

.top-menu {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  margin: 0;
  border-radius: 4px;
  background: #fcfcfc;
  list-style-type: none;
}

.top-menu-item-link {
  position: relative;
  z-index: 10;
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.top-menu-item-link.new {
  margin: 0 0 13px;
  font-weight: 700;
}

.top-menu-item-link.new::before {
  content: " ";
  position: absolute;
  bottom: -6px;
  height: 1px;
  left: 16px;
  right: 16px;
  background-color: #b9b9b9;
}

.menu-pulldown {
  position: relative;
}

.menu-pulldown:hover .top-menu-wrapper {
  display: block;
}

.top-menu-item-link::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  bottom: -2px;
  z-index: -1;
  display: none;
}

.top-menu-item-link:not(.active):hover::after {
  display: block;
  background-color: #ffcbd8;
}

.top-menu-item-link:not(.active):focus::after {
  display: block;
  background-color: #ff4a78;
}

.top-menu-item-link:focus,
.top-menu-item-link.active {
  color: #fcfcfc;
}

.top-menu-item-link:not(.active):active::after {
  display: block;
  background-color: #ff7799;
}

.top-menu-item-link:not(.active):active {
  color: #2d3440;
}

.top-menu-item-link.active::after {
  display: block;
  background-color: #ff4a78;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1px 1px 0 auto;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
  margin: 0 0 2px 15px;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  min-width: 32px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: 2px solid transparent;
}

.navigation-user-link-search {
  justify-content: center;
  padding: 5px 0;
}

.navigation-user-link-search .navigation-icon {
  margin: 0;
}

.navigation-user-link-search svg {
  vertical-align: middle;
}

.navigation-user-phone {
  display: block;
  margin-right: 3px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
}

.navigation-link,
.navigation-user-phone {
  min-height: 18px;
  min-width: 18px;
}

.navigation-item:hover .navigation-link:not(.navigation-link-current),
.navigation-link:not(.navigation-link-current):focus,
.navigation-item:hover .navigation-user-link,
.navigation-user-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:not(.navigation-link-current):focus,
.navigation-user-link:focus {
  border-color: #2d3440;
}


.navigation-user-item.active .navigation-user-link,
.navigation-link:not(.navigation-link-current):active,
.navigation-user-link:active {
  border-color: transparent;
  background-color: #fcfcfc;
}

.navigation-link-current {
  background-color: #ff4a78;
  color: #fcfcfc;
  cursor: default;
}

.navigation-icon {
  margin-right: 6px;
}

.navigation-icon svg {
  display: block;
}

.popover-search {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 12;
  width: 356px;
  margin-top: 8px;
  padding: 24px 16px;
  color: #b9b9b9;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  display: none;
}

.navigation-user-item.active .popover-search,
.navigation-user-item.active .popover-enter,
.navigation-user-item.active .popover-basket-wrapper {
  display: block;
}

.popover-text {
  width: 100%;
}

.popover-cross {
  position: absolute;
  top: 50%;
  right: 13px;
  z-index: 10;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  padding: 0;
  display: none;
  background: none;
  border: 0;
  opacity: 0.4;
  cursor: pointer;
}

.popover-cross-icon {
  fill: #000000;
}

.popover-cross:hover {
  opacity: 1;
}

.popover-enter {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 12;
  margin: 8px 0 0;
  padding: 48px;
  width: 420px;
  min-height: 286px;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-basket-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 13;
  min-width: 288px;
  max-width: 441px;
  margin: 8px 0 0;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-basket-wrapper-empty {
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-empty {
  min-height: 60px;
  text-align: center;
}

.popover-empty-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.popover-content {
  height: 100%;
}

.popover-form-field {
  position: relative;
  margin: 0;
}

.popover-form-field-email {
  margin: 0 0 16px;
}

.popover-form-field-password {
  margin: 0 0 28px;
}

.popover-text:valid ~ .popover-cross {
  display: block;
}

.popover-title {
  margin: 0 0 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
}

.basket-list {
  padding: 0;
  margin-bottom: 28px;
  list-style-type: none;
}

.basket-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

.basket-item-deskription {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.basket-item-price {
  align-self: center;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
}

.basket-deskription-wrapper {
  display: flex;
  flex-direction: column;
}

.basket-item {
  display: grid;
  grid-template-columns: 46px 150px 85px 16px;
  column-gap: 16px;
}

.button-cross {
  background-color: transparent;
  border: 0;
}

.basket-item + .basket-item {
  padding-top: 24px;
}

.basket-item:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.total-amount-wrqapper {
  display: flex;
}

.subscription-button.basket {
  text-decoration: none;
}

.total-price {
  margin-left: auto;
}

.account-links {
  display: flex;
}

.wrapper-account-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enter-button {
  margin-right: 19px;
}

.user-form-recovery,
.user-registration {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.main-container {
  flex-grow: 1;
  margin-bottom: 3px;
}

.slider-block-wrapper {
  padding-bottom: 77px;
}

.slider-block {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.promo-slider-box {
  display: flex;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 541px;
  transform: translateY(calc(-50% - 10px));
  z-index: 11;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.promo-slider-item {
  max-width: 542px;
  width: 100%;
  padding: 119px 0 112px 70px;
  margin-right: 19px;
}

.promo-slider-title {
  margin: 0 0 24px 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.promo-slider-description {
  margin: 0;
  padding: 0 56px 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.order-link {

  display: inline-block;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.order-link:hover,
.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}

.order-link:focus,
.pagination-show-more:focus {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.order-link:disabled,
.order-link[disabled],
.pagination-show-more:disabled {
  font-weight: 400;
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  cursor: default;
}

.promo-slider-image {
  display: flex;
  align-items: center;
}

.slider-image-parent-big {
  position: relative;
  z-index: 10;
  margin-right: 78px;
}

.slider-image-parent-big::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 312px;
  height: 312px;
  margin: -153px 0 0 -153px;
  background-color: #ffcbd8;
  border-radius: 50%;
}

.slider-image-parent-sub1,
.slider-image-parent-sub2 {
  position: relative;
  z-index: 10;
  margin-top: 17px;
}

.slider-image-parent-sub1::after,
.slider-image-parent-sub2::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background-color: #ffcbd8;
  border-radius: 50%;
  opacity: 0.4;
}

.slider-image-parent-sub1 {
  margin-right: 75px;
}


.slider-image {
  display: block;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  cursor: pointer;
}

.slider-button-next,
.slider-button-prev {
  display: flex;
}

.icon-pagination {
  fill: #fcfcfc;
}

.slider-button:hover {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
}

.slider-button:hover .icon-pagination,
.slider-button:focus .icon-pagination {
  fill: #2d3440;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #fcfcfc;
}

.slider-pagination {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 0 3px 0;
  padding: 0;
  line-height: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  border: 1px solid #fcfcfc;
}

.slider-pagination-button:focus {
  border: 1px solid #2d3440;
}

.pagination-social-box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.free-gifts-title,
.product-title,
.advantages-title,
.delivery-title,
.catalog-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.free-gifts-wrapper {
  padding-bottom: 80px;
}

.free-gifts {
  width: 1170px;
  margin: 0 auto;
}

.free-gifts-article-marshmallow .free-gifts-text-box {
  width: 299px;
}

.free-gifts-article-raspberry .free-gifts-text-box {
  width: 326px;
}

.free-gifts-box {
  display: flex;
  justify-content: space-between;
}

.free-gifts-title {
  max-width: 443px;
  width: 100%;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.free-gifts-article {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
  min-height: 250px;
  background-color: #ff7799;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.free-gifts-article-raspberry {
  padding: 40px 15px 40px 36px;
  background-image: url("../images/raspberry.png");
  background-position: bottom 0 right 15px;
}

.free-gifts-article-marshmallow {
  padding: 40px 7px 40px 36px;
  background-image: url("../images/marshmallow.png");
  background-position: bottom 0 right 7px;
}

.free-gifts-article-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 16px 4px;
}


.free-gifts-description-raspberry {
  margin: 0 0 32px 4px;
}

.free-gifts-description-marshmallow {
  margin: 0 0 32px 4px;
}

.free-gifts-description-marshmallow + .order-link,
.free-gifts-description-raspberry + .order-link {
  margin-left: 4px;
}

.product-wrapper {
  padding-bottom: 80px;
}

.product {
  width: 1170px;
  margin: 0 auto;
}

.product-title {
  max-width: 530px;
  width: 100%;
  margin-bottom: 107px;
  margin-left: auto;
  margin-right: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.product-list-catalog {
  margin-bottom: 57px;
}

.card-title,
.card-price {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  word-spacing: 2px;
  color: #2d3440;
}

.card-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin-bottom: 8px;
  text-align: center;
}

.color-primary-text {
  color: #565c66;
}

.delivery-description {
  margin: 0;
}

.card-description {
  margin-top: 0;
  margin-bottom: 16px;
  flex-grow: 1;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -51px;
}

.product-card-link {
  text-decoration: none;
  color: #2d3440;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding: 0 40px 24px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.icon-basket-pink svg {
  display: block;
}

.icon-basket {
  fill: #fcfcfc;
}

.social-icon-anchor {
  position: relative;
  display: flex;
  width: 28px;
  height: 28px;
  border: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.social-icon-anchor svg {
  fill: #fcfcfc;
}

.social-icon-anchor::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: inherit;
}

.social-icon-anchor:hover::after,
.social-icon-anchor:focus::after {
  background-color: #2d3440;
}

.social-icon-anchor:focus {
  border-color: #2d3440;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: #ff2f64;
  border-radius: 26px;
  border: 2px solid #ff2f64;
  cursor: pointer;
}

.card-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.card-link:hover .icon-basket {
  fill: #2d3440;
}

.card-link:focus {
  border: 2px solid #2d3440;
  background: #ff2f64;
}

.card-link:focus .icon-basket {
  fill: #fcfcfc;
}

.advantages-wrapper {
  padding-bottom: 80px;
}

.advantages {
  width: 1170px;
  margin: 0 auto;
  padding: 24px;
  background-image: url("../images/background/waffle.jpg");
  background-color: #e1d4b3;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.advantages-box {
  padding: 56px 40px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.advantages-title {
  margin-bottom: 55px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 506px 506px;
  column-gap: 31px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
}

.advantages-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 6px;
  margin-right: 16px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.advantages-description {
  margin: 0;
}

.new-article-subscription-box-wrapper {
  padding-bottom: 76px;
}

.new-article-subscription-box {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.new-article-title {
  margin: 0 0 12px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.new-article-link {
  display: inline-block;
  max-width: 303px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.new-article {
  background-image: url("../images/background/ice-raspberry.jpg");
  background-color: #ffffff;
  color: #2d3440;
  max-width: 570px;
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 235px 62px 32px;
  display: flex;
  flex-direction: column;
}

.subscription {
  display: flex;
  max-width: 570px;
  width: 100%;
  padding: 6px;
  background-image: url("../images/background/post.jpg");
  background-color: #ff2f68;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-box {
  width: 558px;
  padding: 26px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.subscription-description {
  margin: 0 0 42px 0;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form .subscription-button {
  max-width: 150px;
}

.subscription-email-box {
  margin: 0;
}

.subscription-email {
  width: 332px;
  font-size: inherit;
}

.subscription-button,
.modal-dialog {
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  background-color: #ff2f64;
  border-radius: 26px;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  background-clip: padding-box;
  cursor: pointer;
}

.subscription-button:hover,
.modal-dialog:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  color: #2d3440;
}

.subscription-button:focus,
.modal-dialog:hover:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  color: #fcfcfc;
}

.subscription-button:disabled,
.modal-dialog:hover:disabled {
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
}

.delivery-wrapper {
  padding-bottom: 80px;
}

.delivery {
  display: flex;
  width: 1170px;
  padding: 64px 64px 64px 100px;
  margin: 0 auto;
  color: #2d3440;
  background-image: url("../images/background/ice-fruits-leaf.jpg");
  background-color: #ffffff;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-description-box {
  padding: 103px 135px 99px 0;
}

.delivery-title {
  margin: 0 0 24px 0;
  padding: 0;
  text-align: left;
}

.delivery-form-box {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form {
  margin-left: auto;
  padding: 40px 40px 38px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.delivery-form-description {
  max-width: 380px;
  margin: 0 0 32px 0;
}

.form-label,
.delivery-phone-text {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
}

.form-label-icon {
  position: relative;
  align-self: flex-start;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 4px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.field-form {
  padding: 13px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  cursor: pointer;
}

.field-form-search {
  padding-right: 30px;
}

.modal-text {
  width: 442px;
}

.email-field {
  min-width: 332px;
}

.field-form:hover:not(:disabled) {
  color: #2d3440;
  border-color: #2d3440;
}

.field-form:focus {
  color: #2d3440;
  outline: 1px solid #2d3440;
  border-color: #2d3440;
  outline-offset: -2px;
}

.field-form.invalid:not(:disabled) {
  border-color: #ea5454;
}

.field-form.invalid:hover:not(:disabled),
.field-form.invalid:focus {
  outline: 1px solid #ea5454;
  outline-offset: -2px;
}

.field-form:disabled {
  color: rgba(45, 52, 64, 0.65);
  background-color: #e7e7e7;
  cursor: default;
}

.field-form:-ms-input-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.field-form::-moz-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.field-form::-webkit-input-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.field-form::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.delivery-date {
  grid-column: 1/2;
}

.delivery-phone {
  grid-column: 2/3;
}

.delivery-form-address {
  margin-bottom: 6px;
  grid-column: 1/-1;
}

.subscription-button {
  grid-column: 1/-1;
  justify-self: center;
}

.contacts {
  width: 1170px;
  margin: 0 auto;
  padding: 64px;
  background-image: url("../images/background/three-ice.jpg");
  background-color: #ede3e4;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-box {
  max-width: 343px;
  width: 100%;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.contacts-address-title {
  max-width: 179px;
  margin: 0 0 12px 0;
}

.contacts-address {
  margin-bottom: 24px;
  font-style: normal;
}

.contacts-address-text,
.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

.contacts-address-text {
  margin: 0;
  font-weight: bold;
}

.contacts-phone-title {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: inherit;
}

.contacts-schedule {
  margin: 0 0 33px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565c66;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 45px;
}

.page-footer-container-line {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-social {
  margin-right: 298px;
}

.social-icon-box {
  align-self: flex-end;
}

.pagination-social-box-wrapper .social-icon-box {
  margin-right: -2px;
}

.social-icon-list {
  display: grid;
  grid-template-columns: repeat(3, 28px);
  column-gap: 12px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social .social-icon-list {
  margin-left: 2px;
}

.documents {
  margin-right: 199px;
}

.documents-list {
  display: grid;
  grid-template-columns: 150px 206px;
  row-gap: 8px;
  max-width: 356px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.documents-link {
  position: relative;
  display: block;
  padding: 0 0 0 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.documents-link-bold {
  font-weight: 700;
}

.document-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.made-in {
  display: flex;
  flex-direction: column;
  max-width: 193px;
  width: 100%;
  margin-bottom: 48px;
}

.made-in-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.made-in-htmlacademy {
  margin-bottom: 10px;
}

.htmlacademy-link {
  color: #2d3440;
}

.main-inner {
  display: flex;
  flex-direction: column;
  margin: 4px 0 82px 0;
}

.breadcrumbs-wrapper {
  margin-bottom: 17px;
}

.breadcrumbs,
.button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  padding: 10px 0 0 0;
  margin: 0 auto;
  list-style-type: none;
}

.breadcrumbs-link {
  position: relative;
  padding: 0 28px 0 0;
  color: inherit;
}

li:not(:last-of-type) .breadcrumbs-link::after {
  content: " ";
  position: absolute;
  top: 3px;
  right: 7px;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/chevrons-right.svg");
  background-repeat: no-repeat;
}

.catalog {
  width: 1170px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 84px;
}

.catalog-filter-title {
  margin-bottom: 8px;
  padding-left: 16px;
}

.catalog-name {
  text-align: left;
  margin: 0 0 39px 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0 0 14px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
}

.select-control-wrapper {
  display: flex;
  width: 196px;
  align-items: center;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 6px 10px;
  padding-right: 48px;
  font: inherit;
  font-weight: 400;
  color: #2d3440;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: transparent;
  border-radius: 20px;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  border: 2px solid #fcfcfc;
}

.catalog-filter-group:not(:first-child,:nth-child(4)) {
  margin-left: 24px;
}

.catalog-filter-group:last-child {
  margin-right: 24px;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-item:not(:last-child,:nth-child(2)) {
  padding-right: 17px;
}

.catalog-filter-item:nth-child(2) {
  padding-right: 25px;
}

.catalog-filter-item-radio {
  list-style-type: none;
}

.catalog-filter-item-radio:not(:last-child) {
  padding-right: 17px;
}

.catalog-filter-group.filter-fat {
  margin-right: 24px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 9px 15px;
  margin: 0;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.range {
  max-width: 200px;
  padding: 17px 16px;
  overflow: auto;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:active {
  background-color: #2d3440;
  border: none;
}

.range-toggle:focus {
  outline: 2px solid #2d3440;
}

.toggle-min {
  top: -6px;
  left: -9px;
}

.toggle-max {
  top: -6px;
  right: -11px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  margin-right: 5px;
  margin-bottom: 8px;
  word-spacing: -2px;
}

.catalog-filter-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-family: inherit;
  color: #2d3440;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.filter-price {
  width: 196px;
}


.catalog-filter-group-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
}

.control-check {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  fill: #2d3440;
}

.control:hover .control-input[type="checkbox"]:not(:disabled) ~ .control-check {
  fill: #fcfcfc;
}

.control-input[type="checkbox"]:disabled ~ .control-check {
  opacity: 0.4;
  cursor: default;
}

.control-input[type="checkbox"]:disabled ~ .control-label {
  cursor: default;
}

.check-on {
  display: none;
}

.check-off {
  display: block;
}

.control-input[type="checkbox"]:checked ~ .check-on {
  display: block;
}

.control-input[type="checkbox"]:checked ~ .check-off {
  display: none;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.33px solid #2d3440;
  border-radius: 3px;
}

.control:hover .control-mark {
  border-color: #fcfcfc;
}

.control:hover .control-input[type="radio"]:checked + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input:disabled + .control-mark {
  border-color: rgba(86, 92, 102, 0.3);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
}

.control-input[type="radio"]:disabled + .control-mark::before {
  background-color: rgba(86, 92, 102, 0.3);
}

.control:hover .control-input[type="radio"]:disabled + .control-mark::before {
  background-color: rgba(86, 92, 102, 0.3);
}

.filter-add {
  margin-right: 24px;
}

.catalog-filter-group-button {
  padding: 8px 53px;
  font-family: inherit;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  cursor: pointer;
  background-clip: padding-box;
}

.catalog-filter-group-button:hover {
  background-color: #fcfcfc;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.catalog-filter-group-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.catalog-filter-group-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #fcfcfc;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.pagination-item {
  margin: 0 2px 0 0;
}

.pagination-item-prev {
  margin-right: 16px;
}

.pagination-item:last-child:not(.pagination-item-next) {
  margin-right: 0;
}

.pagination-item-next {
  margin-left: 10px;
  margin-right: 0;
}

.pagination.small .pagination-item-prev,
.pagination.small .pagination-item-next {
  display: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-left: 297px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  max-width: 30px;
  height: 24px;
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-link.active {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

.pagination-link.disabled {
  opacity: 0.2;
  cursor: default;
}

.pagination-link:not(.disabled):hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #fcfcfc;
}

.pagination-link:not(.disabled):active {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

.pagination-link:not(.disabled):focus {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
}

.button-show-more {
  margin: 0 auto;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
}

.modal-answer {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #fcfcfc;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
}

.form-field-group {
  margin: 0;
}

.form-field-group:not(:nth-child(3),:last-child) {
  margin-bottom: 16px;
}

.form-field-group:nth-child(3) {
  margin-bottom: 28px;
}

.multiline {
  height: 149px;
}

.modal-form .subscription-button {
  display: flex;
  margin-left: auto;
}

.tooltip {
  position: absolute;
  left: 100%;
  top: -8px;
  max-width: 164px;
  min-width: 57px;
  padding: 10px 8px;
  margin-left: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  display: none;
}

.tooltip::before {
  content: " ";
  position: absolute;
  left: -7px;
  top: 11px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-left: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background: #fcfcfc;
}

.info:hover ~ .tooltip {
  display: block;
}
