@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #feafc3;
  color: #2d3440;
}

.body-blue {
  background-color: #69a9ff;
}

.body-yellow {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 45px;
}

.header-container {
  display: flex;
  margin: 0 auto;
  width: 1170px;
  align-items: center;
}

.navigation-logo {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navigation-link {
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  display: block;
  padding: 6px 14px;
  border-radius: 26px;
  border: 2px solid transparent;
}

.top-menu-wrapper {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 138px;
  display: none;
  position: absolute;
  background: #FCFCFC;
  border-radius: 4px;
  top: 44px;
  z-index: 15;
}

.top-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.top-menu-item-link,
.top-menu-item-link-new {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.top-menu-item-link-new {
  font-weight: 700;
}

.menu-pulldown {
  position: relative;
}
.menu-pulldown:hover .top-menu-wrapper {
  display: block;
}

.top-menu-item-link {
  padding-bottom: 8px;
  padding-top: 8px;
}

.top-menu-item-link-new {
  padding-bottom: 11px;
}

.top-menu-item-new {
  position: relative;
}

.top-menu-item-new .line-new {
  position: absolute;
  border-bottom: 1px solid #b9b9b9;
  width:100px;
  left: 16px;
}

.top-menu-item-link:hover,
.top-menu-item-link-new:hover {
  background-color: #ffcbd8;
}

.top-menu-item-link:focus,
.top-menu-item-link-new:focus {
  background-color: #ff4a78;
  color:  #fcfcfc;
}

.top-menu-item-link:active,
.top-menu-item-link-new:active {
  background-color: #ff7799;
  color: #2d3440;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.navigation-user-item {
  margin-left: 16px;
}

.navigation-user-link {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  display: block;
  min-width: 32px;
  padding: 4px 15px;
}

.navigation-user-link-search {
  padding: 5px 0;
  justify-content: center;
}

.navigation-user-link-search .navigation-icon {
  margin: 0;
}

.navigation-user-link {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.navigation-user-link-search svg {
  vertical-align: middle;
}

.navigation-user-phone {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  display: block;
}

.navigation-link,
.navigation-user-phone {
  min-height: 18px;
  min-width: 18px;
}

.navigation-link:not(.navigation-link-current):hover,
.navigation-link:not(.navigation-link-current):focus,
.navigation-user-link:hover,
.navigation-user-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:not(.navigation-link-current):focus,
.navigation-user-link:focus {
  border-color: #2d3440;
}

.navigation-link:not(.navigation-link-current):active,
.navigation-user-link:active {
  border-color: transparent;
  background-color: #fcfcfc;
}

.navigation-link-current {
  background-color: #ff4a78;
  color: #fcfcfc;
  cursor: default;
}

.navigation-icon {
  margin-right: 6px;
}

.navigation-icon svg {
  display: block;
}


.navigation-user-item:nth-child(2) {
  position: relative;
}

.popover-search {
  position: absolute;
  top: 40px;
  right: 1px;
  z-index: 12;
  box-sizing: border-box;
  width: 356px;
  padding: 24px 16px;
  font-family: "inter", sans-serif;
  color: #b9b9b9;
  background-color: #fcfcfc;
  border-radius: 4px;
  /*display: none;*/
}

.popover-form-field:first-child.popover-form-field-search {
  margin: 0;
}
/*
.popover-cross {
  background-image: url("../images/icons/сross.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
}
*/

.popover-text {
  min-width: 324px;
  position: relative;
}

.popover-cross {
  position: absolute;
  top: 40px;
  right: 29px;
}

.popover-search:hover .popover-cross-color,
.popover-search:active .popover-cross-color {
  fill: #2D3440;
}

.popover-search:active .popover-cross-color {
  opacity: 0.4;
}

.navigation-user-item:nth-child(3) {
  position: relative;
}

.popover-enter {
  position: absolute;
  top: 40px;
  right: 1px;
  z-index: 12;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  font-family: "inter", sans-serif;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 286px;
  display: none;
}


.navigation-user-item:nth-child(4) {
  position: relative;
}

.popover-basket-wrapper {
  position: absolute;
  top: 40px;
  right: 1px;
  z-index: 13;
  box-sizing: border-box;
  min-width: 288px;
  max-width: 441px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  display: none;
}

.popover-empty {
  min-height: 60px;
  text-align: center;
}

.popover-empty-description {
  font-family: "inter", sans-serif;
  color: #2d3440;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /*display: none;*/
}

.popover-content {
  height: 100%;
}

.popover-form-field {
  margin: 0;
}

.popover-form-field:first-child {
  margin-bottom: 16px;
}

.popover-form-field:nth-child(2) {
  margin-bottom: 28px;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.basket-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 28px;
}

.basket-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.basket-item-deskription {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.basket-item-price {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  align-self: center;
}

.basket-deskription-wrapper {
  display: flex;
  flex-direction: column;
}

.basket-item {
  display: grid;
  grid-template-columns: 46px 150px 85px 16px;
  column-gap: 16px;
}

.button-cross {
  background-color: transparent;
  border: 0;
}

.basket-item + .basket-item {
  padding-top: 24px;
}

.basket-item:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.total-amount-wrqapper {
  display: flex;
}

.total-price {
  margin-left: auto;
}

.account-links {
  display: flex;
}

.wrapper-account-links {
  display: flex;
  flex-direction: column;
}

.wrapper-account-links {
  display: flex;
  justify-content: flex-end;
}

.enter-button {
  margin-right: 19px;
}

.user-form-recovery,
.user-registration {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.slider-block-wrapper{
  padding-bottom: 76px;
}

.slider-block {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.promo-slider-box {
  display: flex;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 350px;
  transform: translateY(calc(-50% - 12px));
  display: flex;
  justify-content: space-between;
  z-index: 11;
  left: 541px;
}

.promo-slider-item {
  padding-left: 70px;
  padding-right: 2px;
  padding-top: 115px;
  padding-bottom: 118px;
  max-width: 542px;
  width: 100%;
  margin-right: 21px;
}

.promo-slider-title {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin-bottom: 24px;
}

.promo-slider-description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 48px;
  padding-right: 56px;
}

.order-link {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  display: inline-block;
  padding: 12px 32px;
  background-color: #fcfcfc;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.order-link:hover,
.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}

.order-link:focus,
.pagination-show-more:focus {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.order-link:disabled,
.order-link[disabled],
.pagination-show-more:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  font-weight: 400;
  color: #b9b9b9;
  cursor: default;
}

.promo-slider-image {
  display: flex;
  align-items: center;
}

.slider-image-parent-big {
  position: relative;
  z-index: 10;
  margin-right: 56px;
  margin-right: 79px;
}

.slider-image-parent-big::after {
  content: '';
  width: 312px;
  height: 312px;
  position: absolute;
  top: calc(50% - 312px/2);
  left: calc(50% - 312px/2);
  z-index: -1;
  background-color: #FFCBD8;
  border-radius: 50%;
}

.slider-image-parent-sub1,
.slider-image-parent-sub2 {
  position: relative;
  z-index: 10;
}

.slider-image-parent-sub1::after,
.slider-image-parent-sub2::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 100px/2);
  left: calc(50% - 100px/2);
  z-index: -1;
  background-color:  #FFCBD8;
  border-radius: 50%;
  opacity: 0.4;
}

.slider-image-parent-sub1 {
  margin-right: 75px;
}


.slider-image {
  display: block;
}

.slider-button {
width: 38px;
height: 38px;
border-radius: 26px;
background: rgba(252, 252, 252, 0.3);
border: 2px solid #fcfcfc;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

.slider-button-next,
.slider-button-prev {
  display: flex;
}

.icon-pagination {
  fill: #FCFCFC;
}

.slider-button:hover {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;

}

.slider-button:hover .icon-pagination,
.slider-button:focus .icon-pagination{
  fill: #2D3440;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #fcfcfc;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  padding: 0;
  border: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  border: 1px solid #fcfcfc;
}

.slider-pagination-button:focus {
  border: 1px solid #2d3440;
}

.pagination-social-box-wrapper {
  display: flex;
  justify-content: space-between;
}

.free-gifts-title,
.product-title,
.advantages-title,
.delivery-title,
.catalog-name {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.free-gifts-wrapper {
  padding-bottom: 80px;
}

.free-gifts {
  width: 1170px;
  margin: 0 auto;
}

.free-gifts-article-marshmallow .free-gifts-text-box {
  width: 299px;
}

.free-gifts-article-raspberry .free-gifts-text-box {
  width: 326px;
}

.free-gifts-box {
  display: flex;
  justify-content: space-between;
}

.free-gifts-title {
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  max-width: 443px;
  width: 100%;
}

.free-gifts-article {
  display: flex;
  justify-content: space-between;
  background-color: #ff7799;
  border-radius: 16px;
  max-width: 570px;
  width: 100%;
  background-repeat: no-repeat;
}

.free-gifts-article-raspberry {
  padding: 40px 15px 40px 36px;
  background-image: url(../images/raspberry.png);
  background-position: bottom 0 right 15px;
}

.free-gifts-article-marshmallow {
  padding: 40px 7px 40px 36px;
  background-image: url(../images/marshmallow.png);

background-position: bottom 0 right 7px;
}

.free-gifts-article-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
  margin-left: 4px;
}


.free-gifts-description-raspberry {
  margin: 0;
  margin-bottom: 32px;
  margin-left: 4px;
}

.free-gifts-description-marshmallow {
  margin: 0;
  margin-bottom: 32px;
  margin-left: 4px;
}

.free-gifts-description-marshmallow + .order-link,
.free-gifts-description-raspberry + .order-link {
  margin-left: 4px;
}

.product-wrapper {
  padding-bottom: 80px;
}

.product {
  width: 1170px;
  margin: 0 auto;
}

.product-title {
  margin-bottom: 107px;
  margin-left: auto;
  margin-right: auto;
  max-width: 530px;
  width: 100%;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.product-list-catalog {
  margin-bottom: 53px;
}

.card-title,
.card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: #2d3440;
}

.card-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin-bottom: 8px;
  text-align: center;
}

.color-primary-text {
  color: #565c66;
}

.delivery-description {
  margin: 0;
}

.card-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -51px;
}

.product-card-link {
  text-decoration: none;
  color: #2d3440;
}

.product-card {
  background-color: #fcfcfc;
  padding: 0 40px 24px 40px;
  max-width: 270px;
  width: 100%;
  border-radius: 8px;
}

.icon-basket-pink svg {
  display: block;
}

.icon-basket {
  fill: #fcfcfc;
}

.social-icon-anchor {
  display: flex;
}

.social-icon-anchor svg {
  fill:#fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}
/*
.social-icon-anchor:fo svg {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

*/
.social-icon-anchor:hover {
  background-color: #2d3440;
  border-radius: 50%;
}

.social-icon-anchor svg:focus {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
  border-radius: 50%;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background: #ff2f64;
  border-radius: 26px;
  border: 2px solid #ff2f64;
  cursor: pointer;
}

.card-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.card-link:hover .icon-basket {
  fill: #2D3440;
}

.card-link:focus {
  border: 2px solid #2D3440;
  background: #ff2f64;
}

.card-link:focus .icon-basket {
  fill: #fcfcfc;
}

.advantages-wrapper {
  padding-bottom:80px;
}

.advantages {
  background-image: url("../images/background/waffle.jpg");
  background-color: #e1d4b3;
  width: 1170px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin:0 auto;
  padding: 24px;
}

.advantages-box {
  background-color: #fcfcfc;
  padding: 56px 40px;
  border-radius: 16px;
}

.advantages-title {
  margin-bottom: 56px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 506px 506px;
  column-gap: 30px;
  row-gap: 40px;
}

.advantages-item {
  display: flex;
}

.advantages-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2d3440;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 16px;
}

.advantages-description {
  margin: 0;
}

.new-article-subscription-box-wrapper{
  padding-bottom: 76px;
}

.new-article-subscription-box {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.new-article-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.new-article-link {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
  max-width: 303px;
  width: 100%;
}

.new-article {
  background-image: url("../images/background/ice-raspberry.jpg");
  background-color: #ffffff;
  color: #2d3440;
  max-width: 570px;
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 235px 62px 32px;
  display: flex;
  flex-direction: column;
}

.subscription {
  background-image: url("../images/background/post.jpg");
  background-color: #ff2f68;
  max-width: 570px;
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  display: flex;
}

.subscription-box {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 26px;
}

.subscription-description {
  margin: 0;
  margin-bottom: 42px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-email-box {
  margin: 0;
}

.subscription-email {
  width: 332px;
  font-size: inherit;
}

.subscription-button,
.modal-dialog {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  background-color: #ff2f64;
  border-radius: 26px;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  background-clip: padding-box;
  padding: 12px 32px;
  cursor: pointer;
  font-family: "inter", sans-serif;
}

.subscription-button:hover,
.modal-dialog:hover {
  background-color:  rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  color: #2d3440;
}

.subscription-button:focus,
.modal-dialog:hover:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  color:#fcfcfc;
}

.subscription-button:disabled,
.modal-dialog:hover:disabled {
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  font-weight: 400;
  color: #565C66;
}


.delivery-wrapper {
  padding-bottom: 80px;
}


.delivery {
  background-image: url("../images/background/ice-fruits-leaf.jpg");
  background-color: #ffffff;
  color: #2d3440;
  width: 1170px;
  border-radius: 16px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 64px 64px 100px;
  margin: 0 auto;
}

.delivery-description-box {
  padding: 103px 135px 99px 0;
}

.delivery-title {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.delivery-form-box {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;

}

.delivery-form {
  background-color: #fcfcfc;
  border-radius: 8px;
  margin-left: auto;
  padding: 40px 40px 38px 40px;
}

.delivery-form-description {
  max-width: 380px;
  margin: 0;
  margin-bottom: 32px;
}

.form-label,
.delivery-phone-text {
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 4px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.field-form {
  padding: 13px 15px;
  font-family: "inter", sans-serif;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;

}
.modal-text {
  width: 442px;
}

.email-field {
  min-width: 332px;
}


.field-form:hover {
  border: 1px solid #2d3440;
  color: #2d3440;
  cursor: pointer;
}

.field-form:focus {
  outline: 2px solid #2d3440;
  color: #2d3440;
}

.field-form:disabled,
.field-form:disabled:hover {
  background-color: #e7e7e7;
}

.field-form:disabled {
  color: #2d3440;
  opacity: 0.65;
}
.field-form:disabled:hover {
  color: #2d3440;
}

.field-form:invalid {
  outline: 1px solid #ea5454;
}

.field-form:focus:invalid {
  outline: 2px solid #ea5454;
}

.field-form::placeholder {
  color: #b9b9b9;
}

.delivery-date {
  grid-column: 1/2;
}

.delivery-phone {
  grid-column: 2/3;
}

.delivery-form-address {
  margin-bottom: 6px;
  grid-column: 1/-1;
}

.subscription-button {
  grid-column: 1/-1;
  justify-self: center;
}

.contacts {
  background-image: url("../images/background/three-ice.jpg");
  background-color: #ede3e4;
  width: 1170px;
  padding: 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.contacts-box {
  max-width: 343px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 40px;
}

.contacts-address-title {
  max-width: 179px;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 24px;
}

.contacts-address-text,
.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

.contacts-address-text {
  margin: 0;
  font-weight: bold;
}

.contacts-phone-title {
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  margin-bottom: 12px;
}

.contacts-schedule {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565c66;
  margin: 0;
  margin-bottom: 33px;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 45px;
}

.page-footer-container-line {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-social {
  margin-right: 300px;
}

.social-icon-box {
  align-self: flex-end;
}

.social-icon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 16px;
  row-gap: 5px;
}

.documents {
  margin-right: 200px;
}

.documents-list {
  margin: 0;
  padding: 0;
  max-width: 356px;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 150px 206px;
  row-gap: 8px;
}

.documents-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 0 0 0 24px;
  position: relative;
}

.documents-link-bold {
  font-weight: 700;
}

.document-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.made-in {
  max-width: 193px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.made-in-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.made-in-htmlacademy {
  margin-bottom: 10px;
}

.htmlacademy-link {
  color: #2d3440;
}

.main-inner {
  margin-bottom: 77px;
  display: flex;
  flex-direction: column;
}

.breadcrumbs-wrapper{
  margin-bottom: 16px;
}
.breadcrumbs,
.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-top: 11px;
  width: 1170px;
  margin: 0 auto;
}

.breadcrumbs-link {
  padding: 0;
  padding-right: 28px;
  color: inherit;
}

li:not(:last-of-type) .breadcrumbs-link {
  background-image: url(../images/icons/chevrons-right.svg);
background-size: 12px 12px;
background-repeat: no-repeat;
background-position: center left 66px;
}

.catalog {
  width: 1170px;
  margin: 0 auto;
}
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 83px;
}

.catalog-filter-title {
  margin-bottom: 8px;
  padding-left: 14px;
}

.catalog-name {
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter-group {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 16px;
}

.select-control-wrapper {
  display: flex;
  width: 196px;
  align-items: center;
  margin-right: auto;
}

.select-control {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: transparent;
  border-radius: 20px;
  width: 100%;
  padding: 6px 10px;
  padding-right: 48px;
  font: inherit;
  font-weight:400;
  color: #2d3440;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  border: 2px solid #fcfcfc;
}

.catalog-filter-group:not(:first-child,:nth-child(4)) {
  margin-left: 24px;
}

.catalog-filter-group:last-child {
  margin-right: 24px;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-item:not(:last-child,:nth-child(2)) {
  padding-right: 17px;
}

.catalog-filter-item:nth-child(2) {
  padding-right: 25px;
}

.catalog-filter-item-radio {
  list-style-type: none;
}

.catalog-filter-item-radio:not(:last-child) {
  padding-right: 17px;
}


.catalog-filter-list {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 16px;
}

.range {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 17px 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
  width: 100%;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgb(86, 92, 102);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border: 6px solid #2D3440;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: #2D3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:active {
  background-color: #2D3440;
  border: none;
}

.range-toggle:focus {
  outline: 2px solid #2D3440;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  margin-right: 5px;
}

.catalog-filter-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-family: "inter", sans-serif;
  color: #2d3440;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-price {
  width: 196px;
}


.catalog-filter-group-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.33333px solid #2D3440;
  border-radius: 3px;
}

.control:hover .control-mark {
  border-color: #FCFCFC;
}

.control:hover .control-input[type="radio"]:checked + .control-mark::before {
  background-color: #FCFCFC;
}

.control-input:disabled + .control-mark {
  border-color: rgba(86, 92, 102, 0.3);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:disabled + .control-mark::before {
  background-color: rgba(86, 92, 102, 0.3);
}

.control:hover .control-input[type="radio"]:disabled + .control-mark::before {
  background-color: rgba(86, 92, 102, 0.3);
}

.filter-add {
  margin-right: 22px;
}

.catalog-filter-group-button {
  padding: 8px 53px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  cursor: pointer;
  background-clip: padding-box;
  font-family: "inter", sans-serif;
}

.catalog-filter-group-button:hover {
  background-color: #fcfcfc;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.catalog-filter-group-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.catalog-filter-group-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #fcfcfc;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  width: 300px;
  justify-content: flex-end;
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-left: 300px;
}

.pagination-prev svg {
  display: block;
}

.pagination-next svg {
  display: block;
}

.pagination-item:first-child {
  margin-right: 16px;
}

.pagination-item:last-child {
  margin-left: 16px;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
  display: flex;
  min-width: 24px;
  justify-content: center;
  line-height: 20px;
}

.pagination-current {
  color: #2d3440;
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-radius: 50%;
  padding: 1px 7px;
}

.pagination-page,
.pagination-next-page {
  padding: 1px 3px;
  border-radius: 50%;
}

.pagination-next {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.pagination-page:hover,
.pagination-next-page:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #fcfcfc;
  cursor: pointer;
}

.pagination-page:active,
.pagination-next-page:active {
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
}

.pagination-page:focus,
.pagination-next-page:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
}

.button-show-more {
  cursor: pointer;
  margin: 0 auto;
  border: none;
  font-family: "inter", sans-serif;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 30;
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #FCFCFC;
}

.modal-answer {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  background-color: #FCFCFC;
  border: none;
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
}

.form-field-group {
  margin: 0;
}

.form-field-group:not(:nth-child(3),:last-child) {
  margin-bottom: 16px;
}

.form-field-group:nth-child(3) {
  margin-bottom: 28px;
}

.multiline {
  height: 149px;
}

.modal-form .subscription-button {
  display: flex;
  margin-left: auto;
}
